body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

fieldset {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 16px;
}

input.submit {
  margin-top: 32px;
}

input.invalid {
  border: 1px solid red;
}

span {
  color: red;
  font-size: .8rem;
  margin-bottom: -8px;
}